<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jordan McDermott</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="public/css/styles.css">
  </head>

  <body>
    <header>
      <div class="site-header">
          <div class="header-title">
            <a class="nav-link" href="#">Jordan<br>McDermott</a>
          </div>

          <div class="site-navigation">
              <a class="nav-link" href="#">About</a>
              <a class="nav-link" href="#">Skills</a>
              <a class="nav-link" href="#">Projects</a>
              <a class="nav-link" href="#">Releases</a>
              <a class="nav-link" href="#">Contact</a>
          </div>
      </div>
    </header>
